<h3 class="text-lg font-semibold">{{ heading }}</h3>

<div class="py-6">
  <div class="h-full">
    <div class="overflow-x-auto">
      <div class="flex gap-4 pb-4">
        @for (retro of retrospectives; track retro.id) {
          <div
            class="min-w-[300px] rounded-lg bg-white p-6 shadow-md dark:bg-neutral-900">
            <div class="mb-4">
              <div class="text-sm text-neutral-500 dark:text-neutral-400">
                {{ retro.date?.toJSDate() | date: 'mediumDate' }}
              </div>
              <div class="text-lg font-semibold">Sprint {{ retro.sprint }}</div>
              <div class="text-sm">Team {{ retro.team }}</div>
            </div>

            <div class="space-y-3">
              <div>
                <div class="text-xs font-medium uppercase text-neutral-500">
                  Gather Data
                </div>
                <div class="text-xs">{{ retro.phases.setTheStage?.name }}</div>
              </div>
              <div>
                <div class="text-xs font-medium uppercase text-neutral-500">
                  Gather Data
                </div>
                <div class="text-xs">{{ retro.phases.gatherData?.name }}</div>
              </div>
              <div>
                <div class="text-xs font-medium uppercase text-neutral-500">
                  Generate Insights
                </div>
                <div class="text-xs">{{ retro.phases.generateInsights?.name }}</div>
              </div>
              <div>
                <div class="text-xs font-medium uppercase text-neutral-500">
                  Decide What To Do
                </div>
                <div class="text-xs">{{ retro.phases.decideWhatToDo?.name }}</div>
              </div>
              <div>
                <div class="text-xs font-medium uppercase text-neutral-500">
                  Closing
                </div>
                <div class="text-xs">{{ retro.phases.closing?.name }}</div>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</div>
