<nav
  class="fixed flex h-screen w-[250px] flex-col justify-between border-r border-neutral-200 bg-white p-4 dark:border-neutral-800 dark:bg-neutral-900">
  <!-- Top section -->
  <div
    class="flex flex-col items-center border-b border-neutral-200 dark:border-neutral-800">
    <img src="assets/logo-vault8.png" alt="Logo" class="mb-6 block h-24" />
    <h1
      class="m-0 mb-4 text-center text-xl font-semibold text-neutral-900 dark:text-neutral-50">
      {{ siteName }}
    </h1>
  </div>

  <!-- Theme switcher dropdown -->
  <div class="relative">
    <button (click)="toggleDropdown()" class="flex w-full items-center p-3">
      <span class="mr-2">
        <svg-icon
          [src]="getThemeIcon(currentTheme())"
          [svgStyle]="{ 'width.px': 24 }"></svg-icon>
      </span>
      <span class="flex items-center capitalize">
        {{ currentTheme() }}
      </span>
    </button>

    <!-- Dropdown menu -->
    @if (isDropdownOpen()) {
      <div
        class="absolute bottom-full mb-2 w-full rounded-lg border border-neutral-200 bg-white shadow-lg dark:border-neutral-700 dark:bg-neutral-800">
        <div class="p-1">
          @for (theme of themes; track theme) {
            <button
              (click)="setTheme(theme)"
              class="flex w-full items-center gap-3 rounded p-2 text-neutral-700 hover:bg-neutral-100 dark:text-neutral-300 dark:hover:bg-neutral-700"
              [class.bg-neutral-100]="currentTheme() === theme"
              [class.dark:bg-neutral-700]="currentTheme() === theme">
              <span class="mr-2">
                <svg-icon
                  [src]="getThemeIcon(theme)"
                  [svgStyle]="{ 'width.px': 24 }"></svg-icon>
              </span>
              <span class="capitalize">{{ theme }}</span>
            </button>
          }
        </div>
      </div>
    }
  </div>
</nav>
