<nav class="bg-white dark:bg-neutral-900 border-neutral-200 dark:border-neutral-800 border-r fixed flex flex-col h-screen justify-between p-4 w-[250px]">
  <!-- Top section -->
  <div>
    <div class="border-b border-neutral-200 dark:border-neutral-800 flex gap-4 items-center py-4">
      <img 
        src="assets/logo.png" 
        alt="Logo" 
        class="h-10 w-10"
      />
      <h1 class="font-semibold m-0 text-neutral-900 dark:text-neutral-50 text-xl">{{ siteName }}</h1>
    </div>
  </div>

  <!-- Theme switcher dropdown -->
  <div class="relative">
    <button 
      (click)="toggleDropdown()" 
      class="flex items-center p-3 w-full"
    >
      <span class="mr-2">
        <svg-icon [src]="getThemeIcon(currentTheme())" [svgStyle]="{ 'width.px': 24 }"></svg-icon>
      </span>
      <span class="flex items-center capitalize">
        {{ currentTheme() }}
      </span>
    </button>

    <!-- Dropdown menu -->
    @if (isDropdownOpen()) {
      <div class="absolute bottom-full bg-white dark:bg-neutral-800 border border-neutral-200 dark:border-neutral-700 mb-2 rounded-lg shadow-lg w-full">
        <div class="p-1">
          @for (theme of themes; track theme) {
            <button 
              (click)="setTheme(theme)"
              class="flex items-center gap-3 p-2 rounded w-full hover:bg-neutral-100 dark:hover:bg-neutral-700 text-neutral-700 dark:text-neutral-300"
              [class.bg-neutral-100]="currentTheme() === theme"
              [class.dark:bg-neutral-700]="currentTheme() === theme"
            >
            <span class="mr-2">
              <svg-icon [src]="getThemeIcon(theme)" [svgStyle]="{ 'width.px': 24 }"></svg-icon>
            </span>
              <span class="capitalize">{{ theme }}</span>
            </button>
          }
        </div>
      </div>
    }
  </div>
</nav> 